<div class="footer fadeIn">
  <div class="row">
    <div class="col-md-4 col-xs-12 brand">
      <p class="brand-title">Alondra</p>
      <p class="subtitle">Cosmética Natural</p>
    </div>
    <div class="col-md-4 social">
      <ul class="social-list">
        <li>
          <a href="https://www.instagram.com/alondra.cosmeticanatural/"
            target="_blank">Instagram</a>
        </li>
        <li><a href="">Facebook</a></li>
      </ul>
    </div>
    <div class="col-md-4 copyright">
      <p>© Todos lo derechos reservados 2020</p>
    </div>
  </div>
</div>
